= label :book, :title, 'Title'
= text_field :book, 'title'
= label :book, :genre, 'Genre'
= select :book, :genre, Book.all_genres
= label :book, :publish_date, 'Published On'
= date_select :book, :publish_date
= label :book, :isbn, 'ISBN Number'
= text_field :book, :isbn